
.RData
.Rhistory
.DS_Store
.DS_Store
.Rproj.user/6F8B33D9/pcs/files-pane.pper
.Rproj.user/6F8B33D9/pcs/source-pane.pper
.Rproj.user/6F8B33D9/pcs/windowlayoutstate.pper
.Rproj.user/6F8B33D9/pcs/workbench-pane.pper
.Rproj.user/6F8B33D9/rmd-outputs
.Rproj.user/6F8B33D9/saved_source_markers
.Rproj.user/6F8B33D9/sources/per/t/28D2E50A
.Rproj.user/6F8B33D9/sources/per/t/28D2E50A-contents
.Rproj.user/6F8B33D9/sources/per/t/EA09F3BE
.Rproj.user/6F8B33D9/sources/per/t/EA09F3BE-contents
.Rproj.user/6F8B33D9/sources/per/t/FA8F99AC
.Rproj.user/6F8B33D9/sources/per/t/FA8F99AC-contents
.Rproj.user/6F8B33D9/sources/prop/05B7E072
.Rproj.user/6F8B33D9/sources/prop/D4149FAC
.Rproj.user/6F8B33D9/sources/prop/INDEX
.Rproj.user/6F8B33D9/viewer-cache/1D36E7D5.Rdata
.Rproj.user/6F8B33D9/viewer-cache/31040E5D.Rdata
.Rproj.user/6F8B33D9/viewer-cache/5C0194CA.Rdata
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
.DS_Store
